{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lieu.css') }}">
{% endblock %}


{% block main %}
    <div class="h1-container">
        <div class="h1-style">
            <h1>Gerer les lieux</h1>
            <div class="h1-underline"></div>
        </div>
    </div>

    <div class="filtres-container">
        <h3>Filtrer les lieux</h3>
        <div class="filtres-form">
            <div class="filtres-search">
                <div class="filtre-lieu" style="margin: 1em auto 2em 6em;">Le nom contient :
                    <input type="search" id="site-search" name="q"
                           aria-label="Search through site content">

                    <button type="submit" >Rechercher</button>
                </div>
                <div class="lieux-tablau">
                    <div class="lieu-ligne">
                        <div class="lieu-ville"><b>Villes</b></div>
                        <div class="lieu-cp"><b>Code postal</b></div>
                        <div class="lieu-actions"><b>Actions</b></div>
                    </div>
                    {% for lieu in lieux %}
                        <div class="lieu-ligne">
                            <div class="lieu-ville lieu-ligne-entete"></div>
                            <div class="lieu-cp lieu-ligne-entete"></div>
                            <div class="lieu-actions lieu-ligne-entete"></div>
                        </div>
                        <div class="lieu-ligne">
                            <div class="lieu-ville">{{ lieu.idVille.nom }}</div>
                            <div class="lieu-cp">{{ lieu.idVille.cp }}</div>
                            <div class="lieu-actions">

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="#" class="icon-modifier"><img src="{{ asset('icons/EditOk.png') }}"
                                                                           alt="Modifier" title=" Modifier le lieu"></a>
                                    <a href="#" class="icon-delete"><img src="{{ asset('icons/DeleteOk.png') }}"
                                                                         alt="Supprimer" title=" Supprimer le lieu"></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="lieu-ajouter">
            <a href="#" class="icon-add"><img src="{{ asset('icons/add_3.png') }}"
                                              alt="Ajouter" title="Ajouter un lieu"></a>
        </div>

    </div>
{% endblock %}
