{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/site.css') }}">
{% endblock %}


{% block main %}
<div class="h1-container">
    <div class="h1-style">
        <h1>Gerer les sites</h1>
        <div class="h1-underline"></div>
    </div>
</div>

<div class="filtres-container">
    <h3>Filtrer les sites</h3>
    <div class="filtres-form">
        <div class="filtres-search">
            <div class="filtre-site" style="margin: 1em auto 2em 6em;">Le nom contient :
                <input type="search" id="site-search" name="q"
                       aria-label="Search through site content">

                <button type="submit">Rechercher</button>
            </div>
            <div class="sites-tablau">
                <div class="site-ligne">
                    <div class="site-ville"><b>Site de rattachement</b></div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="site-actions"><b>Actions</b></div>
                    {% endif %}
                </div>
                    {% for site in sites %}
                        <div class="site-ligne">
                            <div class="site-ville site-ligne-entete"></div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="site-actions site-ligne-entete"></div>
                            {% endif %}
                        </div>
                        <div class="site-ligne">
                            <div class="site-ville">{{ site.nom }}</div>
                            <div class="site-actions">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('update_site', {'id':site.id}) }}" class="icon-modifier"><img src="{{ asset('icons/EditOk.png') }}"
                                                                           alt="Modifier" title=" Modifier le lieu"></a>
                                    <a href="{{ path('delete_site', {'id':site.id}) }}" class="icon-delete"><img src="{{ asset('icons/DeleteOk.png') }}"
                                                                         alt="Supprimer" title=" Supprimer le lieu"></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="site-ajouter">
            <a href="{{ path('add_site') }}" class="icon-add"><img src="{{ asset('icons/add_3.png') }}"
                                              alt="Ajouter" title="Ajouter un lieu"></a>
        </div>

    </div>
    {% endblock %}
