{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
{% endblock %}

{% block main %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}


		<div class="h1-container">
			<div class="h1-style">
				<h1>Connexion</h1>
				<div class="h1-underline"></div>
			</div>
		</div>

		<div class="inscription-form-container">
			<div>
			<label for="inputPseudo">Pseudo</label>
			<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required
				   autofocus>
			</div>
			<div>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" required>
			</div>
			<input type="hidden" name="_csrf_token"
				   value="{{ csrf_token('authenticate') }}">
			<div class="buttons-ok-no">
				<button type="submit" class="button-submit">Valider</button>
				<a href="{{ path('accueil') }}">
					<button type="submit" class="button-cancel">Annuler</button>
				</a>
			</div>
		</div>
	</form>
{% endblock %}
