{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

	{% block css %}
		<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
	{% endblock %}

{% block main %}
	<div class="h1-container">
		<div class="h1-style">
			<h1>Les sorties</h1>
			<div class="h1-underline"></div>
		</div>
	</div>

	<div class="filtres-container">
		<h3>Filtrer les sorties</h3>
		<div class="filtres-form">
			<div class="filtres-search">
				<div class="filtre-site">Lieu :</div>
				<div class="filtre-site-combo">
					<select name="sites" id="sites">
						<option value="">--Choisissez un lieu--</option>
						{% for lieu in lieux %}
							<option value="{{ lieu.id }}">{{ lieu.nom }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="filtres-checkboxes"></div>
			<div class="filtres-button-go"></div>
		</div>
	</div>

	<div class="sorties-tablau">
		<div class="sortie-ligne">
			<div class="sortie-nom"><b>Nom de la sortie</b></div>
			<div class="sortie-date"><b>Date de sortie</b></div>
			<div class="sortie-cloture"><b>Date de clôture</b></div>
			<div class="sortie-inscrits"><b>Max Inscrits</b></div>
			<div class="sortie-etat"><b>État</b></div>
			<div class="sortie-inscrit"><b>Inscrit</b></div>
			<div class="sortie-organisateur"><b>Organisateur</b></div>
			<div class="sortie-actions"><b>Actions</b></div>
		</div>
		{% for sortie in sorties %}
			<div class="sortie-ligne">
				<div class="sortie-nom sortie-ligne-entete"></div>
				<div class="sortie-date sortie-ligne-entete"></div>
				<div class="sortie-cloture sortie-ligne-entete"></div>
				<div class="sortie-inscrits sortie-ligne-entete"></div>
				<div class="sortie-etat sortie-ligne-entete"></div>
				<div class="sortie-inscrit sortie-ligne-entete"></div>
				<div class="sortie-organisateur sortie-ligne-entete"></div>
				<div class="sortie-actions sortie-ligne-entete"></div>
			</div>
			<div class="sortie-ligne">
				<div class="sortie-nom"><a href="#"><img src="{{ asset('icons/search.svg') }}"
														 alt="loupe"></a> {{ sortie.nom }}</div>
				<div class="sortie-date">{{ sortie.dateHeureDebut.format('d/m/Y H:i') }}</div>
				<div class="sortie-cloture">{{ sortie.dateCloture.format('d/m/Y H:i') }}</div>
				<div class="sortie-inscrits"> {{ sortie.nbMaxInscrits }}</div>
				<div class="sortie-etat">{{ sortie.etat }}</div>
				<div class="sortie-inscrit"></div>
				{% for utilisateurSortie in utilisateursSorties %}
					{% if utilisateurSortie.sortieId == sortie.id %}
						<div class="sortie-inscrit">X</div>
					{% else %}
						<div class="sortie-inscrit"></div>
					{% endif %}
				{% endfor %}

				<div class="sortie-organisateur">{{ sortie.organisateur }}</div>
				<div class="sortie-actions sortie-liens">
{#					{% if sortie.organisateur == app.user.username || is_granted('ROLE_ADMIN') %}#}
						<a href="{{ path('delete_sortie', {'id':sortie.id}) }}">Supprimer</a>
						<a href="{{ path('modifier_sortie', {'id':sortie.id}) }}">Modifier</a>
{#					{% endif %}#}
					{% for utilisateurSortie in utilisateursSorties%}
						{% if utilisateurSortie.sortieId == sortie.id %}
							<a href="#">Se désister</a>
						{% endif %}
					{% endfor %}
					{% if sortie.organisateur != userCookie.nom %}
						<a href="#">M'inscrire</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<button><a href="{{ path('nouvelle_sortie') }}">Créer</a></button>

{% endblock %}
