{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

	{% block css %}
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    {% endblock %}

{% block main %}
    <div class="h1-container">
        <div class="h1-style">
            <h1>Les sorties</h1>
            <div class="h1-underline"></div>
        </div>
    </div>

    {# <div class="filtres-container"> #}
    {# <h3>Filtrer les sorties</h3> #}
    {# <div class="filtres-form"> #}
    {# <div class="filtres-search"> #}
    {# <div class="filtre-site">Lieu :</div> #}
    {# <div class="filtre-site-combo"> #}
    {# <select name="sites" id="sites"> #}
    {# <option value="">--Choisissez un lieu--</option> #}
    {# {% for lieu in lieux %} #}
    {# <option value="{{ lieu.id }}">{{ lieu.nom }}</option> #}
    {# {% endfor %} #}
    {# </select> #}
    {# </div> #}
    {# </div> #}
    {# <div class="filtres-checkboxes"></div> #}
    {# <div class="filtres-button-go"></div> #}
    {# </div> #}
    {# </div> #}

    <div class="sorties-tablau">
        <div class="sortie-ligne">
            <div class="sortie-nom"><b>Nom de la sortie</b></div>
            <div class="sortie-ville">Ville</div>
            <div class="sortie-date"><b>Date de sortie</b></div>
            <div class="sortie-cloture"><b>Date de clôture</b></div>
            <div class="sortie-inscrits"><b>Max Inscrits</b></div>
            <div class="sortie-etat"><b>État</b></div>
            <div class="sortie-inscrit"><b>Inscrit</b></div>
            <div class="sortie-organisateur"><b>Organisateur</b></div>
            <div class="sortie-actions"><b>Actions</b></div>
        </div>
        {% set isOrganisateur, isParticipant = false, false %}
        {% for sortie in sorties %}
            {% if sortie.organisateur.pseudo == app.user.pseudo %}
                {% set isOrganisateur = true %}
            {% else %}
                {% set isOrganisateur = false %}
            {% endif %}
            {% for participant in sortie.participants %}
                {% if participant.pseudo == app.user.pseudo %}
                    {% set isParticipant = true %}
                {% else %}
                    {% set isParticipant = false %}
                {% endif %}
            {% endfor %}
            <div class="sortie-ligne">
                <div class="sortie-nom sortie-ligne-entete"></div>
                <div class="sortie-ville sortie-ligne-entete"></div>
                <div class="sortie-date sortie-ligne-entete"></div>
                <div class="sortie-cloture sortie-ligne-entete"></div>
                <div class="sortie-inscrits sortie-ligne-entete"></div>
                <div class="sortie-etat sortie-ligne-entete"></div>
                <div class="sortie-inscrit sortie-ligne-entete"></div>
                <div class="sortie-organisateur sortie-ligne-entete"></div>
                <div class="sortie-actions sortie-ligne-entete"></div>
            </div>
            <div class="sortie-ligne">
                <div class="sortie-nom"><a href="#"><img src="{{ asset('icons/search.svg') }}"
                                                         alt="loupe"></a> {{ sortie.nom }}</div>
                <div class="sortie-ville">{{ sortie.lieu.idVille.nom }}</div>
                <div class="sortie-date">{{ sortie.dateHeureDebut.format('d/m/Y H:i') }}</div>
                <div class="sortie-cloture">{{ sortie.dateCloture.format('d/m/Y H:i') }}</div>
                <div class="sortie-inscrits"> {{ sortie.nbMaxInscrits }}</div>
                <div class="sortie-etat">{{ sortie.etat }}</div>
                <div class="sortie-inscrit">

                    {% if isParticipant or isOrganisateur %}
                        <img src="{{ asset('icons/check.png') }}" alt="X" style="width: 2em;">
                    {% else %}
                        <div>Non inscrit</div>
                    {% endif %}
                </div>

                <div class="sortie-organisateur">{{ sortie.organisateur.pseudo }}</div>
                <div class="sortie-actions sortie-liens">

                    {% if isOrganisateur or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('delete_sortie', {'id':sortie.id}) }}"
                           onclick="confirm('Êtes vous sûr de vouloir supprimer ?') || event.preventDefault()">Supprimer</a>
                        <a href="{{ path('modifier_sortie', {'id':sortie.id}) }}">Modifier</a>
                    {% endif %}

                    {% if isParticipant and not isOrganisateur %}
                        <a href="#">Se désister</a>
                    {% endif %}

                    {% if not isOrganisateur and not isParticipant %}
                        <a href="{{ path('inscrit_toi', {'id':sortie.id, 'user_id':app.user.id}) }}"
                           onclick="confirm('Êtes vous sûr de vouloir inscrire ?') || event.preventDefault()">M'inscrire</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('nouvelle_sortie') }}" class="icon-add" style="margin-left: 8em;"><img
                src="{{ asset('icons/add_3.png') }}"
                alt="Créer" title="Ajouter une sortie" style="width: 2.1em;"></a>

{% endblock %}
