<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block css %}{% endblock %}
</head>

<body>

<header>

    <nav>
        {% block nav %}
            <div class="logo-accueil">
                <a href="{{ path('accueil') }}">
                    <div class="nav-logo"><img src="{{ asset('icons/meeting.svg') }}" alt="logo"></div>
                    {% if app.user %}
                        <a href="{{ path('accueil') }}">Accueil</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('lieu') }}">Gérer les Lieux</a>
                        <a href="{{ path('site') }}">Gérer les sites</a>
                        <a class="logo-user logo-admin" href="{{ path('admin') }}"><img
                                    src="{{ asset('icons/pilot.png') }}"
                                    alt="Panneau d'administration"></a>
                    {% elseif is_granted('ROLE_USER') %}
                        <a href="{{ path('lieu') }}">Les lieux</a>
                        <a href="{{ path('site') }}">Les sites</a>

                    {% endif %}
                </a>
            </div>
            <div>
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        <li><a href="{{ path('update_user') }}" class="logo-user"><img
                                        src="{{ asset('icons/user.png') }}" alt="logo user"></a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
    </nav>

    {% if app.user %}
        <p class="user-name">Bienvenue, {{ app.user.username | capitalize }}</p>
    {% else %}
        <p class="user-name">Vous n'êtes pas connecté :( </p>
    {% endif %}
</header>

<main>
    {% for status, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ status }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block main %}
        <h1>Bienvenue sur le site Sortir.com !</h1>
    {% endblock %}

</main>

<footer class="footerStyle">
    ©Uswap | {{ "now" | date("Y") }}
</footer>

{% block js %}
    {# {{ encore_entry_script_tags('app') }} #}
{% endblock %}
</body>
</html>
